"Midi"(
    source: FilePath("resources/sample-in-c.mid"),
    channels: {
        0: "Font"(config: Ranges([
            ( lower: 0, upper: 50, source: "Polyphony"(
                max_voices: 4,
                source: "AdsrEnvelope"(
                    attack_time: 0.5,
                    decay_time: 1.0,
                    sustain_multiplier: 0.75,
                    release_time: 0.125,
                    source: "SquareWave"( amplitude: 0.125 ))
            )),
            ( lower: 51, upper: 255, source: "AdsrEnvelope"(
                source: "SawtoothWave"( amplitude: 0.1875 ))
            )
        ])),
        1: "AdsrEnvelope"(
            source: "SampleFilePath"(
                path: "resources/guitar-a2-48k-stereo.wav",
                balance: Right,
                base_note: 45,
                looping: Some(Loop( start: 2590, end: 6557 )))
        ),
        2: "AdsrEnvelope"(
            attack_time: 0.0,
            decay_time: 0.125,
            sustain_multiplier: 0.25,
            release_time: 0.125,
            source: "LfsrNoise"( balance: Left, inside_feedback: false )
        )
    }
)
