(
    midi: FilePath("resources/sample-in-c.mid"),
    channels: {
        0: Ranges([
            ( lower: 0, upper: 50, source: SawtoothWave( amplitude: 0.125 )),
            ( lower: 51, upper: 255, source: SquareWave( amplitude: 0.125, duty_cycle: 0.875 ))
        ]),
        1: Ranges([
            ( lower: 0, upper: 255, source: SampleFilePath( path: "resources/guitar-a2-48k-stereo.wav", base_note: 45 ))
        ]),
        2: Ranges([
            ( lower: 0, upper: 255, source: Envelope(
                attack_time: 0.125,
                decay_time: 0.125,
                sustain_multiplier: 0.5,
                release_time: 0.125,
                source: LfsrNoise( amplitude: 0.25, inside_feedback: false, note_for_16_shifts: 50 )
            ))
        ])
    }
)
